body{
    background-image: url(img/mountain.png);
    background-position-x: center;
    background-position: bottom ;
    background-repeat: no-repeat;
    height: 85vh;
    background-size: 80%;
}

#head{
    margin: auto;
    line-height: 3vh;
    width: 100vh;
    text-align: center;
    margin-top: 15vh;
    font-size: 2.3vh;
}

#container{
    font-size: 2vh;
    margin-top: 9vh;
    display: flex;
    justify-content: center;
}

.container_2{
    line-height: 2vh;   
    width: 40vh;
}


#container_2{
    margin-left: 5vh;
    margin-right: 5vh;
    width: 40vh;
}

.text{
    font-size: 1.7vh;
    line-height: 2.5vh;   
}

.container_3{
    display: flex;
}